// Header
.nav-header {
    @include horizontal-scroll;
}

.header-wrapper {
    position: sticky;
    top: 0;
    left: 0;
    height: $default-header-height;
    background-color: $color-white;
    min-height: $default-header-height !important; // Override
    font: normal $default-body-font-size $default-body-font !important; // Override
    flex-direction: initial !important; // Override
    overflow: hidden;
    .mat-toolbar-row {
        height: calc(#{$default-header-height} + 20px) !important; // Override
        padding-left: 0;
        @include shadow-box;
        .nav-list {
            margin-top: -9px; // Fix for flex
            .nav-link {
                margin: 1.0rem 0.6rem;
                border-radius: 100%;
                width: 4.0rem;
                height: 4.0rem;
                &.toggle-menu {
                    padding: 1.0rem 1.0rem 1.4rem;
                    width: $default-header-height;
                    height: $default-header-height;
                    border-radius: 0;
                    margin: 0;
                    &:hover {
                        .etonicon {
                            color: $color-primary-dark;
                        }
                    }
                }
                &:hover {
                    background-color: $color-gray-200;
                    .etonicon {
                        color: $color-blue;
                    }
                }
                .etonicon {
                    font-size: $iconsize-24;
                    margin-right: 1.5rem;
                    margin-top: 0.8rem;
                    margin-left: 0.4rem;
                    color: $color-primary-second;
                }
                &.active-nav-link {
                    width: auto;
                    cursor: default;
                    background-color: $color-primary-dark;
                    padding-right: 15px;
                    border-radius: 8px;
                    &:hover {
                        // background-color: transparent;
                        opacity: 0.8;
                        cursor: pointer !important;
                        // color: black;
                    }
                    .etonicon {
                        color: $color-blue;
                        // Icons Active State
                        &.icon-home {
                            &:before {
                                content: "\e84d"; //icon-home-filled
                            }
                        }
                        &.icon-task {
                            &:before {
                                content: "\e86f"; //icon-task-filled
                            }
                        }
                        &.icon-book {
                            &:before {
                                content: "\e80e"; //icon-book-filled
                            }
                        }
                        &.icon-inbox {
                            &:before {
                                content: "\e851"; //icon-inbox-filled
                            }
                        }
                        &.icon-assets-2 {
                            &:before {
                                content: "\e807"; //icon-assets-2-filled
                            }
                        }
                        &.icon-investment {
                            &:before {
                                content: "\e853"; //icon-investment-filled
                            }
                        }
                        &.icon-chat-group {
                            &:before {
                                content: "\e823"; //icon-chat-group-filled
                            }
                        }
                        &.icon-holdings {
                            &:before {
                                content: "\e87b"; //icon-holdings-filled
                            }
                        }
                    }
                    .link-text {
                        text-transform: uppercase;
                        font-weight: 600;
                        // color: $color-blue;
                        color: #fff;
                        letter-spacing: 0.05rem;
                        font-size: $fontsize-menu;
                        position: relative;
                        top: -0.6rem;
                        left: 0;
                    }
                }
            }
        }
        .nav-end {
            .nav-notification {
                .k-animation-container {
                    left: initial !important;
                    right: 1.5rem;
                    white-space: initial;
                    width: 35.0rem;
                    .header {
                        padding: 1.0rem 2.0rem;
                        position: relative;
                        h2 {
                            font-weight: 700 !important;
                            padding-bottom: 1.5rem;
                        }
                        h5 {
                            padding: 0;
                        }
                        .toolbar-search {
                            .search-input {
                                width: 100%;
                            }
                        }
                        .more-menu {
                            position: absolute;
                            top: 3px;
                            right: 15px;
                        }
                    }
                    .inbox-list-wrapper {
                        border-top: 0;
                        border-right: 0;
                    }
                    .emptystate-wrapper {
                        padding-bottom: 3.0rem;
                        .description {
                            margin-top: -20px;
                        }
                    }
                    @media (max-width: 380px) {
                        width: 100%;
                        right: 0;
                        top: $default-header-height !important;
                        border-radius: 0;
                    }
                }
                &.notification {
                    .message-avatar {
                        .etonicon {
                            color: $color-white;
                            font-size: $iconsize-19;
                            background-color: $color-gray-400;
                            border-radius: 50%;
                            width: $avatar-xs;
                            height: $avatar-xs;
                            text-align: center;
                            padding-top: 5px;
                        }
                    }
                    .k-drawer {
                        background-color: $color-gray-400;
                        color: $color-primary-light;
                        top: -10px;
                        margin-bottom: -20px;
                        border-top-left-radius: $default-border-radius;
                        border-bottom-left-radius: $default-border-radius;
                        border: 0;
                        @media (max-width: 380px) {
                            border-radius: 0;
                        }
                        .k-drawer-items {
                            padding-top: 1.3rem;
                            .k-drawer-item {
                                &:hover {
                                    background-color: $color-white;
                                    color: $color-blue;
                                }
                                .k-icon {
                                    font-size: $iconsize-22;
                                    font-family: "etonicon", sans-serif;
                                    &.k-i-inbox:before {
                                        content: '\e80d'; //icon-bill-payment
                                    }
                                    &.k-i-bell:before {
                                        content: '\e837'; //icon-document-approval
                                    }
                                    &.k-i-calendar:before {
                                        content: '\e86e'; //icon-system-update
                                    }
                                }
                                &.k-state-selected {
                                    background-color: $color-white;
                                    color: $color-blue;
                                    .k-i-inbox:before {
                                        content: '\e80c'; //icon-bill-payment-filled
                                    }
                                    .k-i-bell:before {
                                        content: '\e836'; //icon-document-approval-filled
                                    }
                                    .k-i-calendar:before {
                                        content: '\e86d'; //icon-system-update-filled
                                    }
                                }
                            }
                        }
                    }
                    .icon-button.active {
                        .etonicon:before {
                            content: '\e85e'; //icon-notification-filled
                        }
                    }
                }
                &.messaging {
                    .icon-button.active {
                        .etonicon:before {
                            content: '\e85b'; //icon-messaging-filled
                        }
                    }
                }
                &.chatbot {
                    .icon-button {
                        .etonicon:before {
                            content: '\e827'; //icon-chatbot-filled
                        }
                    }
                }
                .icon-button.active {
                    .etonicon {
                        color: $color-blue;
                    }
                }
            }
            .header-profile {
                .mat-button {
                    padding: 0;
                    color: $default-body-font-color;
                    font-weight: 600;
                }
                .round-avatar {
                    width: $avatar-xs;
                    height: $avatar-xs;
                }
                span {
                    margin-left: 1.0rem;
                }
                .etonicon {
                    color: $color-gray-600;
                }
                @media (max-width: 900px) {
                    button {
                        .username {
                            display: none;
                        }
                    }
                }
            }
        }
        ul li {
            list-style: none;
            position: relative;
            .unread-badge {
                position: absolute;
                top: -0.1rem;
                right: -0.2rem;
            }
        }
    }
}

// Second Tabs
.second-tabs-wrapper {
    padding: 0 0.3rem;
    width: 100%;
    background-color: $color-white;
    @include shadow-box;
    @include second-tab-header;
    @include mobile-above {
        height: $dashboard-tabs-height;
    }
    @include mobile {
        height: calc(#{$dashboard-tabs-height} - 1rem);
    }
    &.transparent {
        background-color: transparent;
        box-shadow: none;
        &:after {
            display: none;
        }
        .switch-view {
            padding-top: 2.3rem;
        }
    }
    .tabs-list {
        display: table;
        .tab-item {
            position: relative;
            display: table-cell;
            color: $color-gray-800;
            font-size: $fontsize-menu;
            cursor: pointer;
            @include mobile-above {
                padding: 2.0rem 2.8rem;
            }
            @include mobile {
                padding: 1.5rem 2rem;
            }
            .item-title {
                margin-right: 0.5rem;
                white-space: nowrap;
            }
            .unread-badge {
                padding: 0;
                position: absolute;
                right: 0;
                top: calc(50% - 9px);
                line-height: 16px;
            }
            &.item-active {
                position: relative;
                cursor: default;
                .item-title {
                    color: $color-blue;
                    font-weight: 700;
                    margin-right: 0;
                    margin-left: 1px;
                }
                &:after {
                    content: "";
                    display: block;
                    width: 3.5rem;
                    height: 0.3rem;
                    position: absolute;
                    bottom: 0;
                    left: calc(50% - 1.7rem);
                    background-color: $color-blue;
                }
            }
            &:first-child {
                &.item-active {
                    margin-left: 0;
                }
            }
        }
    }
    .switch-view {
        z-index: 9;
        position: absolute;
        top: 0;
        right: 0;
        @include mobile-above {
            padding: 1.2rem 2.0rem 0;
        }
        @include mobile {
            padding: 0.8rem 1rem 0;
        }
        .icon-button {
            margin-right: 1.0rem;
            .etonicon {
                color: $color-gray-800;
                font-size: $iconsize-22;
            }
            &.item-active {
                .icon-view-grid {
                    &:before {
                        content: "\e874"; //icon-view-grid-filled
                    }
                }
                .icon-view-list {
                    &:before {
                        content: "\e876"; //icon-view-list-filled
                    }
                }
            }
            &.item-active,
            &.item-active:hover {
                background-color: $color-white;
                cursor: default;
                .etonicon {
                    color: $color-blue;
                }
            }
            &:hover {
                .etonicon {
                    color: $color-primary-second;
                }
            }
        }
    }
}

.grid-toolbar {
    // position: absolute;
    // top: 23px;
    // left: 23px;
    display: table;
    padding-bottom: 2.0rem;
    .table-cell {
        vertical-align: middle;
        padding-right: 1.0rem;
    }
    // .toolbar-search {
    //   width: 250px;
    //   .search-input {
    //     width: 100%;
    //   }
    // }
}

// Sidebar
.sidebar-wrapper {
    width: $sidebar-width;
    background: $background-menu;
    overflow: hidden;
    .scrollable-wrapper {
        height: calc(100vh - #{$sidebar-logo-height} - #{$sidebar-footer-height});
        .scrollable-inner {
            width: 100%;
            height: 100%;
            &::-webkit-scrollbar {
                width: $scrollbar-xs;
                height: $scrollbar-xs;
                background: transparent;
            }
            &:hover::-webkit-scrollbar-thumb {
                background: rgba(0, 0, 0, 0.5);
            }
        }
    }
    .mat-drawer-inner-container {
        overflow: hidden;
    }
    .mat-list-base {
        padding-top: 0;
        .mat-list-item {
            font-family: $default-body-font; //Override
            font-size: $fontsize-sm;
            color: $color-white;
            text-transform: uppercase;
            letter-spacing: 0.1rem;
            white-space: nowrap;
            .mat-list-item-content {
                padding: 0 2.5rem;
            }
            .etonicon {
                margin-right: 1.5rem;
                font-size: $fontsize-lg;
            }
        }
        @include link-hover-opacity;
        @include scrollable-wrapper($sidebar-width, $sidebar-logo-height);
    }
    .sidebar-logo {
        width: 100%;
        text-align: center;
        // padding: 1.2rem;
        background: rgba(0, 0, 0, 0.3);
        position: sticky;
        top: 0;
        left: 0;
        @include shadow-box;
        @include mobile-above {
            height: $sidebar-logo-height;
        }
        @include mobile {
            height: calc(#{$sidebar-logo-height} - 1rem);
        }
        img {
            width: auto;
            height: 100%;
        }
        &.filter-ver {
            display: table;
            background: rgba(0, 0, 0, 0.3);
            .table-cell {
                vertical-align: middle;
                text-align: center;
            }
            img {
                // width: 100%;
                height: auto;
                max-height: 10rem;
                max-width: 16rem;
            }
        }
    }
    .sidebar-footer {
        height: 13rem;
        overflow: auto !important;
        margin-bottom: -12px;
        margin-top: -40px;
        display: flex;
        flex-direction: column-reverse;

        ul.downloadable {
            list-style: none;
            margin: 0;
            padding: 1rem 0px;
            vertical-align: bottom;
            /* position: absolute; */
            // bottom: 40px;
            overflow: auto;
            li {
                padding-left: 2rem;
                a {
                    color: $color-white;
                    font-size: $fontsize-sm;
                }
                @include link-hover-opacity;
            }
        }
        h5 {
            font-size: $fontsize-xs !important;
            text-align: left;
            padding: 0 0 3.0rem 3.0rem;
            color: $color-white;
            opacity: .7;
        }
    }
}

@include scrollable-wrapper($sidebar-width, 120px);
.filter-wrapper {
    color: $color-gray-600;
    font-size: $fontsize-menu;
    overflow: hidden;
    @include placeholder($color-primary-second);
    &.has-search {
        ul.k-treeview-lines>li.k-treeview-item>.k-mid+ul.k-group {
            position: static;
            // height: 25.0rem;
            overflow: auto;
            margin-top: 3.0rem;
            &::-webkit-scrollbar {
                width: $scrollbar-xxs;
                height: $scrollbar-xxs;
                background: transparent;
            }
            &:hover::-webkit-scrollbar-thumb {
                background: $color-primary-second;
            }
            li:first-child {
                width: 100%;
                padding-bottom: 1.2rem;
                position: absolute;
                margin-top: -3.5rem;
                .k-in {
                    padding: 0;
                    &.k-state-selected,
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }
    }
    .search-input {
        background: url("/assets/images/icon_search.svg") no-repeat center left 0.5rem rgba(0, 0, 0, .3);
        background-size: 2rem;
        border: 0;
        color: #fff;
        height: 2.8rem;
        font-size: $fontsize-sm;
        width: 19.7rem;
        &:active,
        &:focus,
        &:hover {
            background: url("/assets/images/icon_search.svg") no-repeat center left 0.5rem rgba(0, 0, 0, .3);
            background-size: 2rem;
        }
    }
    ul.k-treeview-lines {
        >li.k-treeview-item {
            border-bottom: 1px solid rgba(355, 355, 355, 0.1);
            >.k-mid {
                position: relative;
                >.k-icon {
                    display: block;
                    width: calc(100% + 20px);
                    z-index: 8;
                    @include mobile-above {
                        height: 5rem;
                    }
                    @include mobile {
                        height: 4.5rem;
                    }
                    &:hover {
                        background-color: rgba(0, 0, 0, 0.05);
                    }
                    &::before {
                        position: absolute;
                        top: calc(50% - 8px);
                        right: 10px;
                        color: $color-primary-second;
                    }
                    &.k-i-expand:before {
                        transform: rotate(90deg);
                        -ms-transform: rotate(90deg);
                        -webkit-transform: rotate(90deg);
                    }
                    &.k-i-collapse:before {
                        transform: rotate(180deg);
                        -ms-transform: rotate(180deg);
                        -webkit-transform: rotate(180deg);
                    }
                    +.k-in {
                        position: absolute;
                        left: 0;
                        box-shadow: none;
                        font-weight: 600;
                        font-size: $fontsize-menu;
                        color: $color-white;
                        opacity: 0.9;
                        white-space: normal;
                        padding-right: 40px;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        &.k-in.k-state-selected {
                            background-color: none;
                        }
                        .filter-count {
                            font-weight: normal !important;
                            padding-left: 2px;
                        }
                    }
                }
                +ul.k-group {
                    padding-bottom: 20px;
                    li {
                        padding: 0 18px 0 0;
                        .k-in {
                            width: 100%;
                            border-radius: $default-border-radius;
                            color: $color-white;
                            opacity: .8;
                            box-shadow: none;
                            padding: 0.6rem 1.5rem;
                            white-space: normal;
                            font-size: $fontsize-sm;
                            line-height: 1.3em;
                            &.k-state-selected {
                                background-color: $color-blue;
                                font-weight: 600;
                                color: $color-white;
                                opacity: 1;
                                &:hover {
                                    background-color: $color-blue;
                                    color: $color-white;
                                    opacity: 1;
                                }
                            }
                            &:hover {
                                background-color: rgba(0, 0, 0, 0.1);
                                cursor: pointer;
                                opacity: 1;
                            }
                        }
                    }
                }
            }
        }
    }
    &.zero-items {
        ul.k-treeview-lines {
            >li.k-treeview-item {
                .k-mid {
                    .k-in {
                        font-weight: 600;
                        color: #ffffff;
                        opacity: 0.9;
                        white-space: normal;
                        display: -webkit-box;
                        -webkit-line-clamp: 2;
                        -webkit-box-orient: vertical;
                        overflow: hidden;
                        padding: 14px 8px 14px 8px;
                        .filter-count {
                            font-weight: normal !important;
                        }
                        &:hover,
                        &:active,
                        &:focus,
                        &.k-state-selected,
                        &.k-state-focused {
                            background-color: transparent;
                            box-shadow: none !important;
                        }
                    }
                }
            }
        }
    }
}