// Colors $color-*
$color-blue: #0089ff; // ACCENT 1
$color-blue-dark: #1c70c4; // TONE 1
$color-primary-dark: #2d4b64; // ACCENT 2
$color-primary-second: #5f7b93; // TONE 2
$color-primary-light: #8fa2b3; //ACCENT 3
$color-gray-400: #e2e7f1; // TONE 3
$color-green: #00C393; // SUCCESS
$color-amber: #ff9c00; // WARNING
$color-red: #e34e4e; // DANGER
$color-red-dark: #c54040;
$color-red-light: #ffdfdf;
$color-blue-light: #e3eef7;
$color-turqoise: #63a8ae;
$color-white: #ffffff;
$color-gray-10: #fbfbfb;
$color-gray-200: #eef1f4;
$color-gray-600: #c9ced7;
$color-gray-800: #8fa2b3;
$color-black: #333333;
$color-login-blue: $color-primary-dark;
//actual #72c11c
// Media Queries @include mobile/tablet/desktop {content}
@mixin dual {
    // Extra large screens, TV
    @media (min-width: 1201px) {
        @content;
    }
}

@mixin desktop {
    // Desktops, large screens
    @media (min-width: 1025px) and (max-width: 1200px) {
        @content;
    }
}

@mixin laptop-above {
    @media (min-width: 769px) {
        @content;
    }
}

@mixin laptop-below {
    @media (max-width: 768px) {
        @content;
    }
}

@mixin laptop {
    // Small screens, laptops
    @media (min-width: 769px) and (max-width: 1024px) {
        @content;
    }
}

@mixin tablet {
    // iPads, tablets
    @media (min-width: 481px) and (max-width: 768px) {
        @content;
    }
}

@mixin mobile-above {
    @media (min-width: 481px) {
        @content;
    }
}

@mixin mobile {
    // Mobile devices
    @media (max-width: 480px) {
        @content;
    }
}

@include dual {
    html {
        font-size: 62.5%;
    }
}

@include desktop {
    html {
        font-size: 62.5%;
    }
}

@include laptop {
    html {
        font-size: 62.5%;
    }
}

@include tablet {
    html {
        font-size: 62.5%;
    }
}

@include mobile {
    html {
        font-size: 58%;
    }
}

// Font Sizes $fontsize-*
$fontsize-xxl : 2.6rem;
$fontsize-xl : 2.1rem;
$fontsize-lg : 1.8rem;
$fontsize-md : 1.5rem;
$fontsize-sm : 1.3rem;
$fontsize-xs : 1.1rem;
$fontsize-menu: 1.4rem;
// Icon Sizes $iconsize-*
$iconsize-25: 2.5rem;
$iconsize-24: 2.4rem;
$iconsize-22: 2.2rem;
$iconsize-20: 2.0rem;
$iconsize-19: 1.9rem;
// Avatar Sizes $avatar-*
// $avatar-lg: ;
$avatar-md: 6.0rem;
$avatar-sm: 4.5rem;
$avatar-xs: 3.0rem;
// Other Component Sizes
$badge-size: 1.8rem;
$indicator-size: 8px;
$scrollbar-xxs: 3px;
$scrollbar-xs: 6px;
$scrollbar-sm: 8px;
$scrollbar-md: 12px;
// Default Layout $default-*
$default-body-font: "Source Sans Pro",
arial,
sans-serif;
$default-body-font-size: $fontsize-md;
$default-body-font-color: $color-black;
$default-border-radius: 0.8rem;
$default-line-color: $color-gray-400;
// Width and Heights
$default-input-height: 3.5rem;
$default-body-content-max-width: 1040px;
$default-body-content-min-height: 600px;
$default-header-height: 6.0rem;
$sidebar-width: 240px;
$sidebar-logo-height: 12.0rem;
$sidebar-footer-height: 24.3rem;
$dashboard-tabs-height: 6.0rem;
$dialog-header-height: 6.3rem;
$table-footer-height: 3.7rem;
// Links $link-*
$link-color: $color-blue;
$link-hover-color: $color-blue-dark;
@mixin link-hover-opacity {
    a {
        opacity: 0.7;
    }
    a:hover {
        opacity: 1;
    }
}

// Background $background-*
$background-body: $color-gray-400;
$background-menu: $color-primary-dark;
// Placeholder $placeholder-*
@mixin placeholder($color) {
     ::-webkit-input-placeholder {
        font-family: $default-body-font;
        color: $color;
    }
     :-moz-placeholder {
        font-family: $default-body-font;
        color: $color;
        opacity: 1;
    }
     ::-moz-placeholder {
        font-family: $default-body-font;
        color: $color;
        opacity: 1;
    }
     :-ms-input-placeholder {
        font-family: $default-body-font;
        color: $color;
    }
}

// Box Shadow $shadow-*
@mixin shadow-box {
    -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.1);
}

@mixin shadow-input {
    -webkit-box-shadow: 0px 10px 30px -9px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 10px 30px -9px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 10px 30px -9px rgba(0, 0, 0, 0.3);
}

@mixin shadow-prompt {
    box-shadow: 0px -1px 21px 1px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0px -1px 21px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px -1px 21px 1px rgba(0, 0, 0, 0.3);
}

// Icons $icon-*
@import "assets/font/etonicon.css";
$icon-default: $color-gray-800;
$icon-light: $color-primary-light;
$icon-active: $color-blue;
@font-face {
    font-family: "etonicon";
    src: url("/assets/font/etonicon.eot?47176203");
    src: url("/assets/font/etonicon.eot?47176203#iefix") format("embedded-opentype"), url("/assets/font/etonicon.woff?47176203") format("woff"), url("/assets/font/etonicon.ttf?47176203") format("truetype"), url("/assets/font/etonicon.svg?47176203#etonicon") format("svg");
    font-weight: normal;
    font-style: normal;
}

@mixin etonicon {
    font-family: "etonicon", sans-serif;
    font-style: normal;
    font-weight: normal;
    color: $icon-default;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: 0.2em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.etonicon {
    @include etonicon;
}

// Scrolls
@mixin horizontal-scroll {
    overflow-x: scroll;
    overflow-y: hidden;
}

// Reusable Wrappers
@mixin scrollable-wrapper($width,
$subtract-height) {
    .scrollable-wrapper {
        width: $width;
        height: 100%;
        overflow: hidden;
        .scrollable-inner {
            width: $width;
            height: calc(100vh - #{$subtract-height});
            overflow-y: scroll;
            overflow-x: hidden;
        }
    }
}

@mixin second-tab-header {
    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 14px;
        background-color: $color-white;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 8;
        border-top: 1px solid $default-line-color;
    }
}