@font-face {
  font-family: 'etonicon';
  src: url('../font/etonicon.eot?38828874');
  src: url('../font/etonicon.eot?38828874#iefix') format('embedded-opentype'),
       url('../font/etonicon.woff2?38828874') format('woff2'),
       url('../font/etonicon.woff?38828874') format('woff'),
       url('../font/etonicon.ttf?38828874') format('truetype'),
       url('../font/etonicon.svg?38828874#etonicon') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'etonicon';
    src: url('../font/etonicon.svg?38828874#etonicon') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "etonicon", sans-serif;
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-add:before { content: '\e800'; } /* '' */
.icon-alert-filled:before { content: '\e801'; } /* '' */
.icon-alert:before { content: '\e802'; } /* '' */
.icon-arrow-down:before { content: '\e803'; } /* '' */
.icon-arrow-left:before { content: '\e804'; } /* '' */
.icon-arrow-right:before { content: '\e805'; } /* '' */
.icon-arrow-up:before { content: '\e806'; } /* '' */
.icon-assets-2-filled:before { content: '\e807'; } /* '' */
.icon-assets-2:before { content: '\e808'; } /* '' */
.icon-assets-filled:before { content: '\e809'; } /* '' */
.icon-assets:before { content: '\e80a'; } /* '' */
.icon-attachment:before { content: '\e80b'; } /* '' */
.icon-bill-payment-filled:before { content: '\e80c'; } /* '' */
.icon-bill-payment:before { content: '\e80d'; } /* '' */
.icon-book-filled:before { content: '\e80e'; } /* '' */
.icon-book:before { content: '\e80f'; } /* '' */
.icon-briefcase-filled:before { content: '\e810'; } /* '' */
.icon-briefcase:before { content: '\e811'; } /* '' */
.icon-calendar-filled:before { content: '\e812'; } /* '' */
.icon-calendar:before { content: '\e813'; } /* '' */
.icon-caret-down-small:before { content: '\e814'; } /* '' */
.icon-caret-down:before { content: '\e815'; } /* '' */
.icon-caret-left-small:before { content: '\e816'; } /* '' */
.icon-caret-left:before { content: '\e817'; } /* '' */
.icon-caret-right-small:before { content: '\e818'; } /* '' */
.icon-caret-right:before { content: '\e819'; } /* '' */
.icon-caret-up-small:before { content: '\e81a'; } /* '' */
.icon-caret-up:before { content: '\e81b'; } /* '' */
.icon-chart-bar-filled:before { content: '\e81c'; } /* '' */
.icon-chart-bar:before { content: '\e81d'; } /* '' */
.icon-chart-candle-filled:before { content: '\e81e'; } /* '' */
.icon-chart-candle:before { content: '\e81f'; } /* '' */
.icon-chart-line:before { content: '\e820'; } /* '' */
.icon-chart-pie-filled:before { content: '\e821'; } /* '' */
.icon-chart-pie:before { content: '\e822'; } /* '' */
.icon-chat-group-filled:before { content: '\e823'; } /* '' */
.icon-chat-group:before { content: '\e824'; } /* '' */
.icon-chat-individual-filled:before { content: '\e825'; } /* '' */
.icon-chat-individual:before { content: '\e826'; } /* '' */
.icon-chatbot-filled:before { content: '\e827'; } /* '' */
.icon-chatbot:before { content: '\e828'; } /* '' */
.icon-chevron-down:before { content: '\e829'; } /* '' */
.icon-chevron-left:before { content: '\e82a'; } /* '' */
.icon-chevron-right:before { content: '\e82b'; } /* '' */
.icon-chevron-up:before { content: '\e82c'; } /* '' */
.icon-close:before { content: '\e82d'; } /* '' */
.icon-config-filled:before { content: '\e82e'; } /* '' */
.icon-config:before { content: '\e82f'; } /* '' */
.icon-dashboard-create-filled:before { content: '\e830'; } /* '' */
.icon-dashboard-create:before { content: '\e831'; } /* '' */
.icon-dashboard-filled:before { content: '\e832'; } /* '' */
.icon-dashboard:before { content: '\e833'; } /* '' */
.icon-detail-filled:before { content: '\e834'; } /* '' */
.icon-detail:before { content: '\e835'; } /* '' */
.icon-document-approval-filled:before { content: '\e836'; } /* '' */
.icon-document-approval:before { content: '\e837'; } /* '' */
.icon-document-filled:before { content: '\e838'; } /* '' */
.icon-document:before { content: '\e839'; } /* '' */
.icon-download:before { content: '\e83a'; } /* '' */
.icon-draggable:before { content: '\e83b'; } /* '' */
.icon-edit-2:before { content: '\e83c'; } /* '' */
.icon-edit-2-filled:before { content: '\e83d'; } /* '' */
.icon-edit-3-filled:before { content: '\e83e'; } /* '' */
.icon-edit-3:before { content: '\e83f'; } /* '' */
.icon-edit:before { content: '\e840'; } /* '' */
.icon-email-filled:before { content: '\e841'; } /* '' */
.icon-email:before { content: '\e842'; } /* '' */
.icon-emoji-filled:before { content: '\e843'; } /* '' */
.icon-emoji:before { content: '\e844'; } /* '' */
.icon-eton:before { content: '\e845'; } /* '' */
.icon-export-filled:before { content: '\e846'; } /* '' */
.icon-export:before { content: '\e847'; } /* '' */
.icon-filter-clear:before { content: '\e848'; } /* '' */
.icon-filter:before { content: '\e849'; } /* '' */
.icon-folder-filled:before { content: '\e84a'; } /* '' */
.icon-folder:before { content: '\e84b'; } /* '' */
.icon-full-screen:before { content: '\e84c'; } /* '' */
.icon-home-filled:before { content: '\e84d'; } /* '' */
.icon-home:before { content: '\e84e'; } /* '' */
.icon-import-filled:before { content: '\e84f'; } /* '' */
.icon-import:before { content: '\e850'; } /* '' */
.icon-inbox-filled:before { content: '\e851'; } /* '' */
.icon-inbox:before { content: '\e852'; } /* '' */
.icon-investment-filled:before { content: '\e853'; } /* '' */
.icon-investment:before { content: '\e854'; } /* '' */
.icon-lightbulb-filled:before { content: '\e855'; } /* '' */
.icon-lightbulb:before { content: '\e856'; } /* '' */
.icon-menu-expand:before { content: '\e857'; } /* '' */
.icon-menu:before { content: '\e858'; } /* '' */
.icon-messaging-add-filled:before { content: '\e859'; } /* '' */
.icon-messaging-add:before { content: '\e85a'; } /* '' */
.icon-messaging-filled:before { content: '\e85b'; } /* '' */
.icon-messaging:before { content: '\e85c'; } /* '' */
.icon-more:before { content: '\e85d'; } /* '' */
.icon-notification-filled:before { content: '\e85e'; } /* '' */
.icon-notification:before { content: '\e85f'; } /* '' */
.icon-objective:before { content: '\e860'; } /* '' */
.icon-phone-filled:before { content: '\e861'; } /* '' */
.icon-phone:before { content: '\e862'; } /* '' */
.icon-remove-filled:before { content: '\e863'; } /* '' */
.icon-remove:before { content: '\e864'; } /* '' */
.icon-search:before { content: '\e865'; } /* '' */
.icon-setting-2:before { content: '\e866'; } /* '' */
.icon-setting-filled-2:before { content: '\e867'; } /* '' */
.icon-setting-filled:before { content: '\e868'; } /* '' */
.icon-setting:before { content: '\e869'; } /* '' */
.icon-share-filled:before { content: '\e86a'; } /* '' */
.icon-share:before { content: '\e86b'; } /* '' */
.icon-sort:before { content: '\e86c'; } /* '' */
.icon-system-update-filled:before { content: '\e86d'; } /* '' */
.icon-system-update:before { content: '\e86e'; } /* '' */
.icon-task-filled:before { content: '\e86f'; } /* '' */
.icon-task:before { content: '\e870'; } /* '' */
.icon-tick-double:before { content: '\e871'; } /* '' */
.icon-tick:before { content: '\e872'; } /* '' */
.icon-transaction:before { content: '\e873'; } /* '' */
.icon-view-grid-filled:before { content: '\e874'; } /* '' */
.icon-view-grid:before { content: '\e875'; } /* '' */
.icon-view-list-filled:before { content: '\e876'; } /* '' */
.icon-view-list:before { content: '\e877'; } /* '' */
.icon-voice-filled:before { content: '\e878'; } /* '' */
.icon-voice:before { content: '\e879'; } /* '' */
.icon-holdings:before { content: '\e87a'; } /* '' */
.icon-holdings-filled:before { content: '\e87b'; } /* '' */
.icon-dark-mode:before { content: '\e87c'; } /* '' */
.icon-document-2:before { content: '\e87d'; } /* '' */
.icon-document-filled-2:before { content: '\e87e'; } /* '' */
.icon-keyboard:before { content: '\e87f'; } /* '' */
.icon-language:before { content: '\e880'; } /* '' */
.icon-logout:before { content: '\e881'; } /* '' */
.icon-passcode:before { content: '\e882'; } /* '' */
.icon-touchid:before { content: '\e883'; } /* '' */