
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$test1-primary: mat.define-palette(mat.$indigo-palette);
$test1-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$test1-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$test1-theme: mat.define-light-theme((
  color: (
    primary: $test1-primary,
    accent: $test1-accent,
    warn: $test1-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($test1-theme);

// Shared
@import "./styles/variables"; //Styles
// @import "./styles/EtonSolutions/variables"; //ES
// @import "./styles/AYCO/variables"; //Ayco
// @import "./styles/EtonAdvisors/variables"; //EA
// @import "./styles/Shadetree/variables"; //ShadeTree
// @import "./styles/KPMG/variables"; //KPMG
// @import "./styles/Commodore/variables"; //Commodore
// @import "./styles/FBCO/variables"; //FBCO
// @import "./styles/OakmontCorp/variables"; //Oakmont
// @import "./styles/Sawmill/variables"; //Sawmill
// @import "./styles/StandardTrust/variables"; //StandardTrust
/* @import "./styles/common"; */
@import "./styles/common";
// Components
@import "./styles/layout"; // Header, Second Tabs, Sidebar, Master Filter
@import "./styles/dialog"; // General dialog, Dialog with Details
@import "./styles/mobile-dialog"; // Mobile General dialog, Dialog with Details
@import "./styles/table";
@import "./styles/card";
@import "./styles/widgets";
// Page Specific
@import "./styles/dashboard";
@import "./styles/login";
@import "./styles/messaging";
@import "./styles/actions";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
